.card-pricing__container {
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 70px;
  width: 100%;

  color: white;
  font-family: Calibri;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.card-pricing__title {
  margin-bottom: 3px;
}

.card-pricing__value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-pricing__value__console {
  display: flex;
  flex-direction: row;
}

.card-pricing__value__console > span {
  color: aqua;
  font-weight: bolder;
  margin-right: 10px;
}
