<div class="home__container">

  <app-card gameCover="assets/ac-cover.jpg" gameLabel="Remake in Pre-Order" gameType="Digital | PS4 PS5"
    gamePrice="199,99">
  </app-card>

  <app-card gameCover="assets/bt-1.jpg" gameLabel="Offer - Save 20%" gameType="Digital | PS3 PS4 PS5" gamePrice="79,99">
  </app-card>

  <app-card gameCover="assets/bt-bad-company-2.jpg" gameLabel="Offer - Save 35%" gameType="Disc | PS3 PS4"
    gamePrice="49,99">
  </app-card>

  <app-card gameCover="assets/bt-4.jpg" gameLabel="Offer - Save 15%" gameType="Disc | PS4 PS5" gamePrice="119,99">
  </app-card>

  <app-card gameCover="assets/bt-5.jpg" gameLabel="Exclusive" gameType="Digital | PS4 PS5" gamePrice="149,99">
  </app-card>

  <app-card gameCover="assets/bt-hardline.jpg" gameLabel="Exclusive" gameType="Disc | PS3 PS4 PS5" gamePrice="139,99">
  </app-card>

</div>